.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.element {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.event {
  font-size: 1rem;
  background-color: dimgray;
}

.uploaded {
  color: white;
  margin-top: 1rem;
  padding: 0.1rem 2rem;
  font-size: 3rem;
  background-color: forestgreen;
  border-radius: 0.5rem;
}

.network-error {
  color: white;
  background-color: darkred;
  padding: 0.5rem 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
